<table class="table table-bordered">
  <thead>
    <th>Task</th>
    <th colspan="2"></th>
  </thead>
<%#<div id="lists">%>
  <% @lists.each do |list| %>
    <%#<%= render list %>
    <% if list.completed %>
      <tr class="table-secondary">
        <td class="striker"> <%= link_to list.description, edit_list_path(list) %></td>
        <td>
          <%= form_for(list) do |f|%>
            <%= f.text_field :description, :style => "visibility:hidden" %>
            <%= f.check_box :completed, :checked => false, :style => "visibility:hidden" %>
            <%= f.submit "Uncomplete", class: "btn btn-primary btn-sm"%>
          <% end %>
        </td>
        <td class="text-center">
          <%#this is a link to delete using some delete javascript in rails-ujs.js library the scaffolding generates a delete button (commented out)%>
          <%= link_to "Delete", list, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sm"%>
          <% button_to "Delete", list, method: :delete%>
        </td>
      </tr>
    <% else %>
      <tr>
        <td> <%= link_to list.description, edit_list_path(list) %></td>
        <td>
          <%= form_for(list) do |f|%>
            <%= f.text_field :description, :style => "visibility:hidden" %>
            <%= f.check_box :completed, :checked => true, :style => "visibility:hidden" %>
            <%= f.submit "Complete", class: "btn btn-primary btn-sm"%>
          <% end %>
        </td>
        <td class="text-center">
          <%#this is a link to delete using some delete javascript in rails-ujs.js library the scaffolding generates a delete button (commented out)%>
          <%= link_to "Delete", list, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %>
          <% button_to "Delete", list, method: :delete%>
        </td>
      </tr>
    <%#<p>
      <%= link_to "Show this to do", list %>
    <%#</p>%>
    <% end %>
  <% end %>
<%#</div>%>
</table>
<% link_to "New to do", edit_list_path(0), class: "btn btn-primary" %>

<br/>
<br/>
<%= link_to "Delete Marked Items", home_trash_em_path, data: {confirm: "Are you sure?"} %>
<%= link_to "Delete All Items", home_trash_em_all_path, data: {confirm: "Are you sure?"} %>



<!--Handy modal for when we need them-->
<!--
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
  Open Modal
</button>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bootstrap Modal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        This is a simple Bootstrap modal.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
-->
